a.QR
{
  display: inline-block;
  margin:  4px;
  border: 0px;
  padding:  0px;
  width:  200px;
  background-color: white;
  color:  black;
  font-size:  13px;
  font-weight:  bold;
}

a.QR:hover
{
  color:  black
}

a.QR:visited
{
  color:  black
}

a.QR > figure, a.QR > figure > figcaption
{
  display:  grid;
  margin:  0px;
  border: 0px;
  padding:  0px;
}

a.QR > figure > img
{
  margin:  0px;
  border: 0px;
  padding:  0px;
  width:  200px;
  height:  200px;
}

a.QR > figure > figcaption img
{
  margin:  0px;
  border: 0px;
  padding:  0px;
  width:  auto;
  height:  100px;
}