#Methods
{
  display:  grid;
  grid-template-columns:  1fr 1fr;
}

#Methods section
{
  display:  inline-block;
}

#Links
{
  display:  grid;
  grid-template-columns:  220px 220px 1fr;
}

#Links a
{
  display: inline-block;
  margin:  4px;
  border: 0px;
  padding:  0px;
  width:  200px;
  background-color: white;
  color:  black;
  font-size:  13px;
  font-weight:  bold;
}

#Links a:hover
{
  color:  black
}

#Links a:visited
{
  color:  black
}

#Links a > figure, #Links a > figure > figcaption
{
  display:  grid;
  grid-template-columns:  1fr;
  margin:  0px;
  border: 0px;
  padding:  0px;
}

#Links a > figure > img
{
  margin:  0px;
  border: 0px;
  padding:  0px;
  width:  200px;
  height:  200px;
}

#Links a > figure > figcaption img
{
  margin:  0px;
  border: 0px;
  padding:  0px;
  width:  auto;
  height:  100px;
}