/*
The contents of this stylesheet were taken from the react-tabs GitHub repository and modified
extensively.

All ".react-tabs__*" classes are applied by react-tabs itself, so they must stay unscoped.
*/

/* Visual Element Colour Assignments */

:global(.react-tabs)
{
  -webkit-tap-highlight-color:  transparent;
}

:global(.react-tabs__tab-list)
{
  border-bottom-color:  var(--navlink-colour-border);
}

:global(.react-tabs__tab)
{
  border-color:      var(--navlink-colour-border);
  background-color:  var(--navlink-colour-background);
}

:global(.react-tabs__tab--disabled)
{
  color:  var(--colour-primary);
}

/* Layout Elements */

:global(.react-tabs__tab-list)
{
  border-bottom-width:  2px;
  border-bottom-style:  solid;
  margin:               0px 0px 10px;
  padding:              0px;
}

:global(.react-tabs__tab)
{
  display:        inline-block;
  margin:         0px 4px;
  border-style:   none;
  border-radius:  8px 8px 0px 0px;
  padding:        8px 8px 6px;
  position:       relative;
  list-style:     none;
  cursor:         pointer;
}

:global(.react-tabs__tab:hover)
{
  border-width:  2px;
  border-style:  solid solid none;
  padding:       6px;
}

:global(.react-tabs__tab:focus)
{
  outline:  none;
}

:global(.react-tabs__tab--selected)
{
  border-width:  6px;
  border-style:  double double none;
  padding:       2px 2px 6px;
}

:global(.react-tabs__tab--disabled)
{
  cursor:  default;
}

:global(.react-tabs__tab-panel)
{
  display:  none;
}

:global(.react-tabs__tab-panel--selected)
{
  display:  block;
}

:global(.react-tabs__tab--selected:hover)
{
  border-width:  6px;
  border-style:  double double none;
  padding:       2px 2px 6px;
}
