/*
The contents of this stylesheet were taken from the react-tabs GitHub repository and modified
extensively.
*/

/* Visual Element Colour Assignments */

.react-tabs 
{
  -webkit-tap-highlight-color:  transparent;
}

.react-tabs__tab-list 
{
  border-bottom-color:  var(--navlink-colour-border);
}

.react-tabs__tab 
{
  border-color:      var(--navlink-colour-border);
  background-color:  var(--navlink-colour-background);
}

.react-tabs__tab--disabled 
{
  color:  var(--colour-primary);
}

/* Layout Elements */

.react-tabs__tab-list 
{
  border-bottom-width:  2px;
  border-bottom-style:  solid;
  margin:               0px 0px 10px;
  padding:              0px;
}

.react-tabs__tab 
{
  display:        inline-block;
  margin:         0px 4px;
  border-style:   none;
  border-radius:  8px 8px 0px 0px;
  padding:        8px 8px 6px;
  position:       relative;
  list-style:     none;
  cursor:         pointer;
}

.react-tabs__tab:hover 
{
  border-width:  2px;
  border-style:  solid solid none;
  padding:       6px;
}

.react-tabs__tab:focus 
{
  outline:  none;
}

.react-tabs__tab--selected 
{
  border-width:  6px;
  border-style:  double double none;
  padding:       2px 2px 6px;
}

.react-tabs__tab--disabled 
{
  cursor:  default;
}

.react-tabs__tab-panel 
{
  display:  none;
}

.react-tabs__tab-panel--selected 
{
  display:  block;
}

.react-tabs__tab--selected:hover 
{
  border-width:  6px;
  border-style:  double double none;
  padding:       2px 2px 6px;
}
