/*
Layout Elements

Make sure that these align with the layout elements in ../index.css.
*/

main#Museum
{
  position:  fixed;
  top:       75px;
  right:     0px;
  bottom:    50px;
  left:      0px;
}

main#Museum section, main#Museum + footer
{
  margin:  0px;
  border-width: 0px;
}

main#Museum section#Selector
{
  height:  125px;
  overflow: hidden auto;
}

main#Museum section#View
{
  position: fixed;
  top:  200px;
  right:  0px;
  bottom:  50px;
  left:  0px;
}

main#Museum iframe
{
  width:  calc(100% - 8px);
  height:  calc(100% - 8px);
}

main#Museum + footer
{
  position:  fixed;
  right:  0px;
  bottom:  0px;
  left:  0px;
  height:  50px;
  overflow: hidden auto;
}

/* Content Elements */

main#Museum p#BrowserThrobbers
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
  row-gap: 64px;
  place-items: center;
  min-height: max-content;
  justify-content: space-between;
}

main#Museum p#BrowserThrobbers > *
{
  display:  inline-block;
  margin-left:  2%;
  margin-right:  2%;
  vertical-align:  middle;
}