footer, section
{
  margin:  0px;
  border-width: 0px;
  padding:  2px;
}

section#Selector
{
  position:  fixed;
  top:  200px;
  right:  120px;
  left:  0px;
  height:  100px;
  overflow: hidden auto;
}

section#View
{
  position: fixed;
  top:  300px;
  right:  0px;
  bottom:  50px;
  left:  0px;
}

footer
{
  position:  fixed;
  right:  120px;
  bottom:  0px;
  left:  0px;
  height:  50px;
  overflow: hidden auto;
}

iframe
{
  width:  calc(100% - 4px);
  height:  calc(100% - 4px);
}