:root
{
  --background-colour:   #000000;
  --primary-colour:      #FF00FF;
  --secondary-colour-1:  #800080;
  --secondary-colour-2:  #008000;
  --text-colour:         #FFFFFF;
}

body
{
  background:        fixed;
  background-color:  var(--background-colour);
  background-image:  url(./kw.svg);
  color:             var(--text-colour);
  padding:  200px 2px 2px 2px;
}

header
{
  position:  fixed;
  top:  0px;
  left:  0px;
  right:  0px;
  height:  200px;
  background-color:  var(--background-colour);
  background-image:  url(./kw.svg);
}

header nav
{
  float:  right;
}

header nav ul
{
  list-style-type:  none;
}

header nav ul li
{
  display:  inline-block;
}

header nav ul li a
{
  margin:  4px;
  border-width:  4px;
  border-style: solid hidden solid hidden;
  border-color:  var(--secondary-colour-1);
  padding:  4px 8px 4px 8px;
}

header nav ul li a:hover
{
  border-width:  6px;
  border-style: double;
  padding:  2px;
  color: var(--secondary-colour-2);
}
