:root
{
  font-family:  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height:  1.5;
  font-weight:  400;

  font-synthesis:  none;
  text-rendering:  optimizeLegibility;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing:  grayscale;
  -webkit-text-size-adjust:  100%;

  /* Colour Palette */

  --colour-primary:      #1D1D1D; /* Near Black */
  --colour-secondary-1:  #ECF0F1; /* Light Silver */
  --colour-secondary-2:  #2272FF; /* Neon Blue */
  --colour-accent-1:     #27AE60; /* Circuit Green */
  --colour-accent-2:     #F39C12; /* Gold */
  
  --background-image:  url(./kw.svg);

  /* Visual Element Colour Assignments */

  --navlink-colour-border:             var(--colour-accent-2);
  --navlink-colour-background:         var(--colour-accent-1);
  --navlink-colour:                    var(--colour-secondary-1);
  --navlink-hover-colour-border:       var(--colour-accent-2);
  --navlink-hover-colour-background:   var(--colour-accent-1);
  --navlink-hover-colour:              var(--colour-secondary-1);
  --navlink-active-colour-border:      var(--colour-accent-2);
  --navlink-active-colour-background:  var(--colour-accent-1);
  --navlink-active-colour:             var(--colour-secondary-1);
}

/* HTML Element Colour Assignments */

a, a:visited
{
  color:  var(--colour-accent-2);
}

a:hover
{
  color:  var(--colour-accent-1);
}

body
{
  background-attachment:  fixed;
  background-color:       var(--colour-primary);
  background-image:       var(--background-image);
  color:                  var(--colour-secondary-1);
}

button, input[type=button], input[type=submit], input[type=reset]
{
  border-color:      var(--navlink-colour-border);
  background-color:  var(--navlink-colour-background);
  color:             var(--navlink-colour);
}

button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover
{
  border-color:      var(--navlink-hover-colour-border);
  background-color:  var(--navlink-hover-colour-background);
  color:             var(--navlink-hover-colour);
}

header
{
  background-color:  var(--colour-secondary-2);
  color:             var(--colour-secondary-1);
}

hr
{
  color: var(--colour-secondary-2);
}

/* Visual Element Colour Assignments */

header nav ul li a
{
  border-color:      var(--navlink-colour-border);
  background-color:  var(--navlink-colour-background);
  color:             var(--navlink-colour);
}

header nav ul li a:hover
{
  border-color:      var(--navlink-hover-colour-border);
  background-color:  var(--navlink-hover-colour-background);
  color:             var(--navlink-hover-colour);
}

header nav ul li a.active
{
  border-color:      var(--navlink-hover-colour-border);
  background-color:  var(--navlink-hover-colour-background);
  color:             var(--navlink-hover-colour);
}

header nav ul li a:visited
{
  color:  var(--navlink-colour);
}

/*
Layout Elements

Make sure that these align with the layout elements in ./pages/museum.css.
*/

html
{
  margin:        0px;
  border-width:  0px;
  padding:       0px;
}

body
{
  margin:            0px;
  border-width:      0px;
  padding:           75px 0px 0px;
  min-width:         320px;
  overflow:          auto scroll;
}

header
{
  position:  fixed;
  top:  0px;
  right:  0px;
  left:  0px;
  height:  75px;
  z-index:  2;
}

header h1
{
  display:  inline;
}

header nav
{
  float:  right;
}

header nav ul
{
  list-style-type:  none;
}

header nav ul li
{
  display:  inline-block;
}

header nav ul li a
{
  margin:  4px;
  border-width:  2px;
  border-style:  hidden hidden solid;
  padding:  8px 8px 6px;
}

header nav ul li a:hover
{
  border-width:  2px;
  border-style:  solid;
  padding:  6px;
}

header nav ul li a:focus
{
  border-width:  2px;
  border-style:  solid;
  padding:  6px;
  outline: none;
}

header nav ul li a.active
{
  border-width:  6px;
  border-style:  double;
  padding:  2px;
}

main
{
  margin:  0px;
  border-width:  0px;
  padding:  4px;
}

/* Content Elements */

a
{
  font-weight:  500;
  text-decoration:  inherit;
}

h1
{
  font-size:  3.2em;
  line-height:  1.1;
}

button, input[type=button], input[type=submit], input[type=reset]
{
  margin: 2px;
  border-radius:  8px;
  border-width:  2px;
  border-style:  hidden;
  padding:  8px;
  font-size:  1em;
  font-weight:  500;
  font-family:  inherit;
  cursor:  pointer;
}

button:focus, input[type=button]:focus, input[type=submit]:focus, input[type=reset]:focus
{
  border-width:  2px;
  border-style:  solid;
  padding:  6px;
  outline: none;
}

button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover
{
  border-width:  2px;
  border-style:  solid;
  padding:  6px;
}
