:root
{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colour palette */

  --background-colour:   #000000;
  --primary-colour:      #FF00FF;
  --secondary-colour-1:  #800080;
  --secondary-colour-2:  #008000;
  --text-colour:         #FFFFFF;
  --background-image:    url(./kw.svg);
}

/*
Layout Elements

Make sure that these align with the layout elements in .pages/museum.css.
*/

html
{
  margin:        0px;
  border-width:  0px;
  padding:       0px;
}

body
{
  margin:            0px;
  border-width:      0px;
  padding:           75px 0px 0px;
  background:        fixed;
  min-width:         320px;
  background-color:  var(--background-colour);
  background-image:  var(--background-image);
  color:             var(--text-colour);
  overflow:          auto scroll;
}

header
{
  position:  fixed;
  top:  0px;
  right:  0px;
  left:  0px;
  height:  75px;
  z-index: 2;
  background-color:  var(--background-colour);
  background-image:  var(--background-image);
}

header h1
{
  display:  inline;
}

header nav
{
  float:  right;
}

header nav ul
{
  list-style-type:  none;
}

header nav ul li
{
  display:  inline-block;
}

header nav ul li a
{
  margin:  4px;
  border-width:  4px;
  border-style: hidden hidden solid;
  border-color:  var(--secondary-colour-1);
  padding:  8px 8px 4px;
}

header nav ul li a:hover
{
  border-width:  6px;
  border-style: double;
  padding:  2px;
  color: var(--secondary-colour-2);
}

main
{
  margin:  0px;
  border-width:  0px;
  padding:  4px;
}

/* Content Elements */

a
{
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover
{
  color: #535bf2;
}

h1
{
  font-size: 3.2em;
  line-height: 1.1;
}

button
{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover
{
  border-color: #646cff;
}

button:focus, button:focus-visible
{
  outline: 4px auto -webkit-focus-ring-color;
}
